$grow: all 0.2s ease-in-out;
$trans: scale(1.1);

html {
  /* background-color: #aed6f1; */
  background-image: url("/assets/photo-1615403849259-20dc98b26d5f.jpeg");
  // background-position: center;
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
}
.title {
  word-break: keep-all;
}

.brand:hover {
  transition: $grow;
  transform: $trans;
}
.login-brand:hover {
  transition: $grow;
  transform: $trans;
}
.signup-brand:hover {
  transition: $grow;
  transform: $trans;
}
